[package]
name = "tuono_lib"
version = "0.2.0"
edition = "2021"
authors = ["V. Ageno <valerioageno@yahoo.it>"]
description = "The react/rust fullstack framework"
homepage = "https://github.com/Valerioageno/tuono"
readme = "../../README.md"
license-file = "../../LICENSE.md"
categories = ["web-programming", "reactjs", "typescript", "framework", "fullstack"]
include = [
		"src/*.rs",
		"Cargo.toml"
]

[lib]
name = "tuono_lib"
path = "src/lib.rs"

[dependencies]
ssr_rs = "0.5.4"
axum = "0.7.5"
serde = { version = "1.0.202", features = ["derive"] }
erased-serde = "0.4.5"
serde_json = "1.0"

tuono_lib_macros = {path = "../tuono_lib_macros", version = "0.2.0"}
once_cell = "1.19.0"
lazy_static = "1.5.0"
regex = "1.10.5"

