.link {
	border-radius: 8px;
	margin-top: 0.25rem;
	line-height: 1rem;
	font-weight: 500;
	transition: 0.3s;
}

.link span {
	font-size: 14px !important;
	color: var(--mantine-color-sidebar-gray);
}

.link:hover span {
	color: var(--mantine-color-sidebar-text-hover);
}
